.column-container {
  height: 580px;
  display: flex;

  .column1 {
    display: grid;
    grid-template-columns: 370px 370px;
    margin: 40px 10px;
    overflow-y: scroll;
  }
  .column2 {
    display: grid;
    grid-template-columns: 370px;
    margin: 40px 10px;
    overflow-y: scroll;
  }
}
::-webkit-scrollbar {
  display: none;
}
